* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color:#282D35;
    font-family: Noto Sans JP, sans-serif;
    color: white;
    background-image: url("/src/assets/Tonberry-FF7.webp");
    background-repeat: no-repeat;
    background-position: 110% 700%;
}

header {
    background: #21222A;
}

.nav {
    padding: 31px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.nav-logo {
    width: 50px;
    align-self: center; 
}

.nav-title {
    font-size: 30px;
    padding-left: 0px;
    color: #FFFF00;
    font-weight: 900;
}

.main {
    padding: 27px;
}

.main-title {
    font-size: 50px;
    font-weight: 500;
}

.main-list {
    font-size: 20px;
    font-weight: 300;
}

.main-list > li {
    margin: 10px;
}

.main-list > li::marker {
    color: #FFFF00;
    font-size: 1.5rem;
}